---
layout: default
---

<h1 class= "display-1">Videos</h1>

<div class="containter">

  <div class="row">
    <div class="container">
      <h2><srong><font color="#CC0000">How to be a Demagogue</font> <small class="text-muted">demonstrated by Donald Trump</small></srong></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width='970' height='546' src='//www.youtube.com/embed/9kpp4Cz4_-k'></iframe>
      </div>
    </div>
  </div>
      
  <h4 class="lead">{{ content }} </h4>

  <hr>
  
  
  <p><small>A few notes:</small></p>
  <p><small>Soon we post have each demagogue method posted independently as its own clip.</small></p>
  <p><small>If you like this video but want other quotes, please <a href="https://twitter.com/pyriotous">send us a private tweet</a> to let us know what you're thinking.  Better yet, if you're tech savvy and edit the audio clip, it's much easier for us.  We will be happy to run your audio clip through our algorithm to give you the video clip of the talking demagogue.  We need a single-channel (mono) uncompressed wav file at 44100 samples per second.  (We used the free software <a href="http://www.audacityteam.org/">Audacity&reg</a> for making our clips.)</small></p>
  
</div>


